@model IEnumerable<WebApplication8.Data.Diamonds>
@{
    ViewData["Title"] = "Modify";
}

<h2>@ViewBag.Team</h2>
<a href="/TeamDiamond">Back To Sets</a><br/><br/>
<input type="hidden" class="hiddenId" value="@ViewBag.id" />
<button type="submit" onclick="UpdateOwned()" class="btn btn-primary">Update</button><br/><br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.overall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.median)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.programName)
            </th>
            <th>
                Owned
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.overall)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.median)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.programName)
                </td>
                <td>
                    <input type="checkbox" name="owned" data-toggle="toggle" data-on="Yes" data-off="No" id="@item.id" />
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        // add function for on page load for already owned items
        $(document).ready(function() {
            var owned = "@ViewBag.owned";
            var ownedArray = owned.split(',');
            console.log(ownedArray);
            $.each(ownedArray,
                function (key, value) {
                    console.log(key + " " + value);
                    $("#" + value).prop('checked', true).change();
                });
        })

        function UpdateOwned() {
            var team = "@ViewBag.Team"

            var id = $(".hiddenId").val();
            var url;
            
            console.log(team);
            var owned = [];
            $("input[type='checkbox']").each(function () {
                if ($(this).prop("checked")) {
                    owned.push($(this).attr("id"));
                }
            });

            var data = {};

            data['owned'] = owned;

            if (id != '') {
                data['id'] = id;
                url = "/TeamDiamond/UpdateOwned";
            } else {
                data['team'] = team;
                url = "/TeamDiamond/AddOwned";
            }
            console.log(JSON.stringify(data));
            $.ajax({
                type: "POST",
                url: url,
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: data,
                success: function (d) {
                    window.location.href = "/TeamDiamond";
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                }
            });

        }
    </script>
}